body {background-color:#B3B6B7}
h1 {color:#F9EBEA;
	font-family: arial}
p1 {color:white;
	font-size:20px;
	font-family: arial}
p2 {color:white;
	font-size:20px;
	font-family: arial}
p3 {color:#C0392B;
	font-size:20px;
	font-family: arial}}
	




